*
{
    margin :0;
    padding :0;
    box-sizing:border-box;

    font-family:camberia;
    font-size:20px;
}
body
{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:#30293c;
    box-shadow: 10px 10px;


}
p{
   margin-left: 10px;
}
.list
{
    position:relative;
    background:#a596bf;
    width:550px;
    box-shadow: 0 4px 10px 0 #c9aaff, 0 6px 8px 0 #c9aaff;
}
.list h2
{
   background:#fff;
   padding:10px 20px 10px 10px;
   font-weight:600;
   font-size: 24px;
   text-align: center;


}
.list ul
{
    position:relative;
    padding:25px;
}
.list ul li
{
    position:relative;
    padding:30px 0;
    list-style: none;
    border-bottom:1px solid rgba(0,0,0,0,1);
}
.list ul li:last-child
{
    border-bottom:none;
}
.list ul li label
{
    position:relative;
    display:flex;
    justify-content:right;
    align-items:center;

}
.list ul li input
{
   
    text-align:right;
    padding: 5px;

}

.list ul li label input:checked ~ p
{
    text-decoration:line-through;
    color:#ccc;



}
.list ul li label input:checked ~ span
{
    background:#000;
    border:1px solid #ccc;


}
.list ul li label input:checked ~ span:before
{
    border-left:2px solid #fff;
    border-bottom:2px solid #fff;
}